script(type="text/x-template")#carousel-template
    carousel.reviews-carousel 
        slide(v-for="review in reviews" :key="review.id").reviews__quote
            vc-quote(:review="review")
     
script(type="text/x-template")#slide-template     
    .quote
        .text-author {{ review.text }}
            .author-wrap
                .img-author-block
                    img(:src="review.photo",alt="review-author" ).author-left
                .profil-block
                    h4.author-title {{ review.author }}
                    .author-position {{ review.occ }}

