script(type="text/x-template")#slider-container
  .works-slider
    .works__left
      display(
        :works="works"
      )
    .works__right
      info()

script(type="text/x-template")#slider-display  
  .slider
      +image("content/img-preview.png", "slider__fillpic")
      thumbs(
        :works="works"  
      )
      btns()

script(type="text/x-template")#slider-thumbs
  .slider__preview
    ul.previews
      li.previews__item(
        v-for="work in works"
        :key="work.id"
      )
        a.previews__item-link
          img(:src="work.photo" alt="slider-photo").previews__pic


script(type="text/x-template")#slider-btns        
  .slider__buttons
    .slider-button
      button.slider-buttons__item.slider-buttons__item--slide--prev
        +image("content/arrow-next.png", "arrow")  
      button.slider-buttons__item.slider-buttons__item--slide--next
        +image("content/arrow-prev.png", "arrow")


script(type="text/x-template")#slider-info
  .info-block
    tags()   
    .works__text
      h3.works__title Сайт школы образования
      .works__desc-text
        p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      a.iconed-link
        +icon('link', 'iconed-link__icon')
        .iconed-link__text Посмотреть сайт
      .position_slide
        span.number 2   


script(type="text/x-template")#slider-tags
  .works__tags
    - var tags = ['HTML', 'CSS', 'javascript']
      ul.tags
      each tag in tags
        li.tags__item #{tag}

















    
    
    
