.clear     
    section.advantages
      .container
        .advantages-block
          article.advantage-article
            h3.advantage-title Чем я могу быть полезен вам                     
            p.advantage-text Этот сайт я сделал в рамках обучения в Школе Онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          ul.user-skills
              -
               var skills = [
                ['Front-end', ['html', 'css', 'js']],
                ['Workflow', ['git', 'terminal', 'gulp']],
               ]
              each item in skills 
               li.user-skills__item.skills-row 
                 h3.skills-row__title #{item[0]}
                 ul.skills-row__list
                   each skill in item[1]
                     li.skills-row__item
                       .skill
                         svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                           circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
                           circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
                           linear-gradient()
                       .skill__title #{skill} 
          .hands-left