.clear     
section(id='#skills').advantages
  .container
    .advantages-block
      article.advantage-article
        h3.advantage-title Чем я могу быть полезен вам                     
        p.advantage-text Этот сайт я сделал в рамках обучения в Школе Онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      #skills-component
      .hands-left