section.last-section-bg
  .container
    .reviews
      h3.reviews__title Что обо мне говорят
      .reviews__arrows-block
        a(href="")
          .reviews__arrow.arrow-prev
        a(href="")
          .reviews__arrow.arrow-next
      .reviews__quote-one
        .author-one
          .img-author-one
            +image("content/author01.png", "author-one")
          h4.author-title Ковальчук Дмитрий
          .text-author-one Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      .reviews__quote-two
        .author-two
          .img-author-two
            +image("content/author02.png", "author-two")
          h4.author-title Владимир Сабанцев
          .text-author-two Этот код выдержит любые испытания. Только пожалуйста не загружайте сайт на слишком старых браузерах