section.last-section-bg
  .container
    .reviews
      h3.reviews__title Что обо мне говорят
      .reviews__arrows-block
        button.reviews__arrow.arrow-prev
        button.reviews__arrow.arrow-next
      .reviews__quote-left
        .author-left
          .text-author Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .img-author-block
            +image("content/author01.png", "author-left")
            h4.author-title Ковальчук Дмитрий
            .author-position Основатель Loftschool
      .reviews__quote-right
        .author-right
          .text-author Этот код выдержит любые испытания. Только пожалуйста не загружайте сайт на слишком старых браузерах
          .img-author-block
            +image("content/author02.png", "author-right")
            h4.author-title Владимир Сабанцев
            .author-position Преподователь
    .form-section
      h3.title-form Связаться со мной 
      form.form
        .input-block-name
          label(for='name').block-name.block-style Введите Ваше имя
          input(type='text' id='name').input-name
        .input-block-email  
          label(for='email').block-email.block-style Введите ваш email
          input(type='text' id='email').input-email
        .textarea-wrap
          label(for='help').block-help.block-style Сообщение к письму
          textarea(id='help')
        button(type='submit').btn-form Отправить


          