section(id='reviews').last-section-bg
  .container
    .reviews
      h3.reviews__title Что обо мне говорят
      .reviews__arrows-block
        button.reviews__arrow.arrow-prev
        button.reviews__arrow.arrow-next
      .reviews-carousel
        #reviews-carousel
          vc-carousel-wrap
    .form-section(id='feedback')
      h3.title-form Связаться со мной 
      form.form
        .input-block-name
          label(for='name').block-name.block-style Введите Ваше имя
          input(type='text' id='name').input-name
        .input-block-email  
          label(for='email').block-email.block-style Введите ваш email
          input(type='text' id='email').input-email
        .textarea-wrap
          label(for='help').block-help.block-style Сообщение к письму
          textarea(id='help')
        button(type='submit').btn-form Отправить


          