section.last-section-bg
  .container
    .reviews
      h3.reviews__title Что обо мне говорят
      .reviews__arrows-block
        a(href="")
          .reviews__arrow.arrow-prev
        a(href="")
          .reviews__arrow.arrow-next
      .reviews__quote-one
        .author-one
          .text-author.ta-one Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .img-author-block.ia-one
            +image("content/author01.png", "author-one")
            h4.author-title Ковальчук Дмитрий
            .author-position Основатель Loftschool
      .reviews__quote-two
        .author-two
          .text-author.ta-two Этот код выдержит любые испытания. Только пожалуйста не загружайте сайт на слишком старых браузерах
          .img-author-block.ia-two
            +image("content/author02.png", "author-two")
            h4.author-title Владимир Сабанцев
            .author-position Преподователь
    .form-section
      h3.title-form Связаться со мной 
      form.form
        .input-block-name
          .block-name.block-style Введите Ваше имя
          input(type='text').input-name
        .input-block-email  
          .block-email.block-style Введите ваш email
          input(type='text').input-email
        .textarea-wrap
          .block-help.block-style Сообщение к письму
          textarea
        a.btn-form Отправить


          