section.double-bg
  header
    .container
      .logo
        a.link-logo(href='') ВР
      ul.header-menu
        li
          a(href='') Главная
        li
          a(href='') Обо мне
        li
          a(href='') Навыки
        li
          a(href='') Работы
        li
          a(href='') Отзывы
        li
          a(href='') Связаться
      - var socials = ['insta', 'vk', 'github']      
      .socials
        ul.socials__list
          each social in socials
            li.socials__item
              a(href='').socials__link
               +icon(social, `socials__icon socials__icon--${social}`)
      .my-name-block
        .my-name-text Личный сайт веб разработчика 
        h3.my-name-title Вадим 
          span Робинов
      .clear
      a(href='')
       .scroll-block Скролл
         .img-scroll-block
           +icon('scroll', 'scroll-img')
  .container
      .about
          .about-photo
            .my-photo
              img(src=require('./images/content/my_photo.png'), alt="my photo")
            .about-photo-text Проживаю:
              span.margin-one Коломна                
            .about-photo-text Возраст:
              span.margin-two 28 лет               
            .about-photo-text Родился:
              span.margin-three 5 марта 1991           
          .about-article
            span.hello Привет, меня зовут                 
            h3.about-name Вадим Робинов                
            p.about-text-one Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и соврменные проекты.
            p.about-text-two Этот сайт я сделал в рамках обучения в Школе Онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!