.works
  h2.section-title Мои работы
   .works__left
     .slider
       img().slider__fillpic
       .slider__preview
         ul.previews
       .slider__buttons
   .works__right
   - for (var i = 0; i < 3; i++)
     li.previews__item
       img.previews__pic
       